* {
    /* border: 1px solid var(--main-color); */

}

:root {
    --background: #d4d4d4;
    --accent: #222;
    --main-color: #ff0000; 
    --temptext: rgb(204, 0, 0);
    /* Placeholder color. Please change later. */

}

h1 {
    font-size: 250%;
    background-color: var(--accent);
}

h2 {
    font-size: 200%;
    color:var(--temptext);
}

h3 {
    font-size: 150%;
    color:var(--temptext);
}

body {
    background-color: var(--background);

}

header {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: center; */
    /* background-color: var(--accent) */
}

.header-name {
    color: var(--background);
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0.2rem;
}

nav {
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
}

nav a {
    font-weight: bold;
    color: var(--accent);
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-size: 130%;
    padding: 0.1rem 0.5rem;
    margin: 0.3rem;
    border-bottom: 0.3rem solid var(--temptext);
}

.banner {
    position: relative;
}

.bannertext {
    background-color: var(--accent);
    color: var(--background);
    position: absolute;
    z-index: 1;
    left: 10%;
}

.banner-img {
    height: 140px;
    width: 100%;
    object-fit: cover;
    /* z-index: -1; */
    position: relative;
}

article p {
    margin: 2%;
    line-height: 1.2;
    font-size: 1rem;
}


section p {
    margin: 1%;
}

.section-title {
    border-bottom: solid var(--temptext) 5px;
    padding: 0.3rem 0.5rem;
    margin: 1.5rem 1rem 0rem;
}

.big-project,
.other-project {
    display: flex;
    flex-direction: column;
    background-color: var(--accent);
    margin: 2%;
    /* width: 80%;
    align-items: center;
    justify-content: center; */
}

/* Need footer styles */

/* footer {
    padding-bottom: 2rem;
} */

footer a,
footer p {
    color: var(--accent);
    font-weight: bold;
    border-bottom: 0.3rem solid var(--temptext);
    text-decoration: none;
    margin-right: auto;
    margin-left: 1rem;
    padding: 0.7rem 0.5rem 0.1rem;

}

.contact {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

@media screen and(min-width: 768px){


}

@media screen and(min-width: 992px){


}